:root {
    --background-color: white;
    --accent-color: #2962ff;
    --text-color: black;
    --text-hover-color: white;
    --common-font: "My Gill Sans", Lato, sans-serif;
    --accent-font: "DM Serif Display", serif;
}

/* Normalize CSS */
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
    margin: 0;
    padding: 0;
}

img,
fieldset {
    border: none;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    flex: 1 0 auto;
}

hr {
    display: none;
}

html,
body {
    height: 100%;
}

body,
button,
input,
table,
textarea,
select {
    font-family: var(--common-font);
    font-size: 13px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0;
}

header,
footer {
    flex-grow: 0;
}

h1,
#top nav,
#top ul,
#top nav a {
    display: inline-block;
    text-transform: uppercase;
}

#top article {
    float: left;
}

#top nav {
    float: right;
}

#top nav ul {
    /* box-sizing: border-box; */
    /* margin: 0px; */
    /* min-width: 0px; */
    /* -webkit-box-pack: justify; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    display: grid;
    text-align: right;
    width: 100%;
}

#top nav li {
    display: inline;
    padding-right: 4em;
}

@media screen and (min-width: 60em) {
    #top nav ul {
        display: flex;
    }
}

h1 {
    padding: 0 0.3em;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
}

#top li {
    display: inline;
}

#top nav a {
    padding: 0.5em 0.7em;
    text-decoration: none;
    color: #666;
}

#top nav a:focus,
#top nav a:hover {
    background: #EEE;
    color: #000;
}

#top nav a.current {
    color: #000;
}

main {
    padding: 40px;
}

section {
    box-sizing: border-box;
    min-width: 0px;
    font-family: var(--common-font);
    font-weight: 400;
    line-height: 1.4;
    font-size: 24px;
}

section ul,ol {
    margin-left: 2em;
    font-size: 90%;
}

section a {
    font-family: var(--accent-font);
    font-size: 1.1em;
    color: var(--text-color);
    text-decoration: none;
    background: linear-gradient(0deg, transparent 10%, var(--accent-color) 10%, var(--accent-color) 20%, transparent 20%, transparent 100%);
}


section a:hover {
    color: var(--text-hover-color);
    font-style: italic;
    background: linear-gradient(0deg, transparent 10%, var(--accent-color) 10%, var(--accent-color) 90%, transparent 90%, transparent 90%);
}

section a:hover:after {
    content: "⇗";
    padding-left: 4px;
    padding-right: 4px;
    background: linear-gradient(0deg, transparent 10%, var(--accent-color) 10%, var(--accent-color) 90%, transparent 90%, transparent 90%);
    z-index: 10;
}

section h2 {
    box-sizing: border-box;
    margin: 0px 0px 16px;
    min-width: 0px;
    font-weight: 700;
    line-height: 1.4;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

#bottom {
    background: var(--background-color);
}

/* HELLO, MY NAME IS... */
.vcard {
    width: 180px;
    height: 128px;
    background: #010185;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5), inset 0 0 20px rgba(0, 0, 0, .25);
    transform: rotate(-7deg);
    margin: 15px 0 0 30px;
}

.vcard div:first-child {
    height: 60px;
    padding-top: 10px;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: .2em;
}

.vcard h1,
p {
    padding: 0;
    margin: 0;
}

.vcard h1 {
    font-size: 1.5em;
}

.fn {
    background: #fff;
    height: 61px;
    font-family: "Bradley Hand ITC", "Bradley Hand", Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    padding-top: 10px;
}

.vcard .given-name {
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    outline: 0;
}

.vcard a {
    text-decoration: none;;
}

.nickname {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
}

#resume_icons {
    padding:0;
    margin:0;
    max-height:45px;
    display: inline-block;
    flex-grow:1;
}

#resume_icons > a,img {
    float: right;
    margin: 2px;
    object-fit: cover;
    width: 28px;
    height: 28px;
}

#resume_frame {
    padding:0;
    border:0;
}