<header id="top">
	<link rel="profile" href="http://microformats.org/profile/hcard">
	<article class="vcard">
		<div>
			<h1>Hello</h1>
			<p>my name is</p>
		</div>
		<div class="fn">
			<a href="/"><p class="given-name">Karl Mayer</p></a>
		</div>
	</article>
	<nav>
		<ul>
			<li><a href="/" class="pure-menu-link">About Me</a></li>
			<li><a href="/resume" class="pure-menu-link">Résumé</a></li>
			<li><a href="/mindmap" class="pure-menu-link">Mindmap</a></li>
			<li><a href="/playlist" class="pure-menu-link">Playlist</a></li>
		</ul>
	</nav>
</header>