{{> head title='Karl Mayer'}}
{{> header }}
<main>
    <section>
        <p>
        I guide and shape IT architecture at <a href="http://lilly.com/">Eli Lilly</a>. My focus is digital strategy, effective communication, innovation, and mentoring.
            I make time daily to solve problems, engineer solutions, and stay abreast of the latest in technology. 
            I also promote 
            <a href="https://en.wikipedia.org/wiki/Agile_architecture">agile architecture</a>:
            <ul>
                <li>Design emerges. Architecture is a collaboration.</li>
                <li>Communicate! The bigger the system, the longer the runway.</li>
                <li>Less is more. Simplicity is a force to apply.</li>
                <li>Embrace change: plan it, manage it.</li>
                <li>When in doubt, code or model it out.</li>
                <li>There is no monopoly on innovation.</li>
            </ul>
        </p>
        <br/>
        <p>
            I delight in being "technology promiscuous" and jump between Microsoft, Apple, Amazon, Google and open source at a moment's notice.
            I'm on a life-long journey to do the same with programming that started with an IBM XT &amp; BASIC. I'm currently most interested in machine learning and functional programming.
        </p>
        <br/>
        <p>Outside work, I treasure time spent with my wonderful spouse and three exuberant sons. My hobbies include reading, programming, and handy work. 
        My favorite past time is tabletop gaming &mdash; the creativity hooked me decades ago, but the camaraderie keeps me coming back.</p>
        <br/>
        <p>
            This site is a work-in-progress, or if you prefer, a <a href="https://en.wikipedia.org/wiki/Minimum_viable_product">MVP</a>.
            I started with React and NextJS, but <a href="https://en.wikipedia.org/wiki/KISS_principle">KISS</a> led me to use <a href="https://www.11ty.dev/"J>11ty</a>
            and HTML5 (adding <a href="https://vitejs.dev/">Vite</a> is likely next).
        </p>
</main>

<footer id="bottom">
</footer>
{{> foot}}