{{> head title='Karl Mayer'}}
{{> header }}
<main>
    <section>
        <p>
        I guide and shape IT architecture at <a href="http://lilly.com/" target="_blank" rel="noreferrer"
            class="jump-away">Eli Lilly</a>. My focus is digital strategy, effective communication, innovation, and mentoring.
            I make time daily to solve problems, engineer solutions, and stay abreast of the latest in technology. 
            I also promote 
            <a href="https://en.wikipedia.org/wiki/Agile_architecture"  target="_blank" rel="noreferrer" class="jump-away">agile architecture</a> principles:
            <ul>
                <li>Design emerges. Architecture is a collaboration.</li>
                <li>Communicate! The bigger the system, the longer the runway.</li>
                <li>Less is more. Simplicity is a force to apply.</li>
                <li>Embrace change: plan it, manage it.</li>
                <li>When in doubt, code or model it out.</li>
                <li>There is no monopoly on innovation.</li>
            </ul>
        </p>
        <br/>
        <p>
            I delight in being "technology promiscious," and jump between Microsoft, Apple, Google, and Amazon at a moment's notice.
            I wish I could do the same with programming &mdash; that's more difficult! I'm currently learning Erlang functional programming.
        </p>
        <br/>
        <p>Outside work, I treasure time spent with my wonderful partner and three exuberant sons. My hobbies include reading, programming, and handy work. My favorite past time is gaming &mdash; the creativity hooked me decades ago, but the camaraderie keeps me coming back.</p>
        <br/>
        <p>
            This site is a work-in-progress, or in today's lingo, a <a href="https://en.wikipedia.org/wiki/Minimum_viable_product" target="_blank" rel="noreferrer" class="jump-away">MVP</a>.
            I started with React and NextJS, but my principles led me to use <a href="https://www.11ty.dev/" target="_blank" rel="noreferrer" class="jump-away">11ty</a>
            and HTML5. I am planning to add <a href="https://vitejs.dev/" target="_blank" rel="noreferrer"
            class="jump-away">Vite</a> in the future.
        </p>
</main>

<footer id="bottom">
</footer>
{{> foot}}