{{> head title='Karl Mayer'}}
{{> header }}
<main>
    <section>
        I guide and shape IT architecture at <a href="http://lilly.com/" target="_blank" rel="noreferrer"
            class="jump-away">Eli Lilly</a>. This site is a work-in-progress, or more apt, a <a href="https://en.wikipedia.org/wiki/Minimum_viable_product">MVP</a>.
    </section>
</main>
{{> foot}}