{{> head title='Karl Mayer'}}
{{> header }}
<main>
    <section>
        <h4>My daily reads:</h4>
        <ul>
            <li><a href="https://slashdot.org/">Slashdot</a></li>
            <li><a href="https://www.infoq.com/articles/">InfoQ Articles</a></li>
            <li><a href="https://aws.amazon.com/blogs/aws/">AWS News Blog</a></li>
            <li><a href="https://azure.microsoft.com/en-us/blog/">Microsoft Azure Blog</a></li>
            <li><a href="https://netflixtechblog.com/">Netflix Tech Blog</a></li>
            <li><a href="https://towardsdatascience.com/">Towards Data Science</a></li>
            <li><a href="https://flowingdata.com/">FlowingData</a></li>
            <li><a href="https://uxmovement.com/">UX Movement</a></li>            
        </ul>
    </section>
    <br/>
    <section>
        <h4>Podcasts I subscribe to:</h4>
        <ul>
            <li><a href="https://www.npr.org/podcasts/510289/planet-money">Planet Money</a></li>
            <li><a href="https://thedisruptionadvisors.com/">Disrupt Yourself With Whitney Johnson</a></li>
            <li><a href="https://freakonomics.com/podcasts/">Freakonomics Radio</a></li>
            <li><a href="https://twit.tv/shows/this-week-in-tech">This Week in Tech</a></li>
        </ul>
    </section>
    <br/>
    <section>
        <h4>5 books all IT professionals should read:</h4>
        <ul>
            <li><a href="https://www.goodreads.com/book/show/40086702-nine-lies-about-work">Nine Lies About Work: A Freethinking Leader’s Guide to the Real World</a> by Marcus Buckingham &amp; Ashley Goodall</li>
            <li><a href="https://www.goodreads.com/book/show/67825.Peopleware">Peopleware: Productive Projects and Teams</a> by Tom DeMarco &amp; Tim Lister</li>
            <li><a href="https://www.goodreads.com/book/show/18079560-joy-inc">Joy, Inc.: How We Built a Workplace People Love</a> by Richard Sheridan</li>
            <li><a href="https://www.goodreads.com/book/show/17255186-the-phoenix-project">The Phoenix Project: A Novel About IT, DevOps, and Helping Your Business Win</a> by Gene Kim , Kevin Behr , George Spafford</li>
            <li><a href="https://www.goodreads.com/book/show/4099.The_Pragmatic_Programmer">The Pragmatic Programmer: From Journeyman to Master</a> by Andy Hunt &amp; Dave Thomas</li>
        </ul>
    </section>
    <br/>
    <section>
        <h4>3 books everyone should read:</h4>
        <ul>
            <li><a href="https://www.goodreads.com/book/show/85697.The_Art_of_Possibility">The Art of Possibility</a> by Rosamund Stone Zander &amp; Benjamin Zander</li>
            <li><a href="https://www.goodreads.com/book/show/21.A_Short_History_of_Nearly_Everything">A Short History of Nearly Everything</a> by Bill Bryson</li>
            <li><a href="https://www.goodreads.com/book/show/1713426.Predictably_Irrational">Predictably Irrational: The Hidden Forces That Shape Our Decisions</a> by Dan Ariely</li>
        </ul>
    </section>
</main>
{{> foot}}