{{> head title='Karl Mayer'}}
{{> header }}
<main>
    <section>
        Daily read tech feeds:
        <ul>
            <li><a href="https://slashdot.org/">Slashdot</a></li>
            <li><a href="https://www.infoq.com/articles/">InfoQ Articles</a></li>
            <li><a href="https://aws.amazon.com/blogs/aws/">AWS News Blog</a></li>
            <li><a href="https://azure.microsoft.com/en-us/blog/">Microsoft Azure Blog</a></li>
            <li><a href="https://netflixtechblog.com/">Netflix Tech Blog</a></li>
            <li><a href="https://towardsdatascience.com/">Towards Data Science</a></li>
            <li><a href="https://flowingdata.com/">FlowingData</a></li>
            <li><a href="https://uxmovement.com/">UX Movement</a></li>            
        </ul>
    </section>
</main>
{{> foot}}