{{> head title='Karl Mayer'}}
{{> header }}
<style>
    body {
        overflow: hidden; /* Hide scrollbars */
    }
</style>
<span id="resume_icons">
    <a href="/resume/resume.yaml" target="resume">
        <img src="/images/yaml_logo.svg" alt="Resume as YAML">
    </a>
    <a href="/resume/resume.pdf" target="resume">
        <img src="/images/pdf_icon_svg.png" alt="Render resume as PDF">
    </a>
    <a href="/resume/resume.html" target="resume">
        <img src="/images/html5_icon.png" alt="Render resume as HTML">
    </a>
</span>
<iframe src="resume.html" id="resume_frame" name="resume"></iframe>
{{> foot}}